<div class="row justify-content-center">
  <div class="col-8 col-sm-8 col-lg-8 ">
    
    <div class="my-bookings bookings-card">
      <div class="title-and-key">
        <h2>Tour Itinerary</h2>
        <div class="bookings-key">
          <p><strong>Key:</strong> <i class="far fa-question-circle confirmation-status-yellow"></i> = Booking unconfirmed</p>
          <p><i class="far fa-check-circle confirmation-status-green"></i> = Booking confirmed</p>
          <p><i class="far fa-times-circle confirmation-status-red"></i> = Booking rejected</p>
        </div>
      </div>

      <table class="table future-bookings-table">
        <thead>
          <tr>
            <th>Room</th>
            <th>Band</th>
            <th>Location</th>
            <th>Booking Start Date</th>
            <th>Booking End Date</th>
            <th>Confirmation Status</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @future_bookings.each do |booking| %>
            <tr>
              <td><%= link_to booking.room.name, booking.room, class: 'table-column-one' %></td>
              <td><%= link_to booking.band.name, booking.band %></td>
              <td><%= booking.room.city %></td>
              <td><%= booking.start_date.strftime('%d/%m/%Y') %></td>
              <td><%= booking.end_date.strftime('%d/%m/%Y') %></td>
              <td>
              <% if booking.confirmation.nil? %>
                <i class="far fa-question-circle confirmation-status-yellow"></i>
              <% elsif booking.confirmation %>
                <i class="far fa-check-circle confirmation-status-green"></i>
              <% else %>
                <i class="far fa-times-circle confirmation-status-red"></i>
              <% end %>
              </td>
              <td>
                <%= link_to booking_path(booking), method: :delete, data: { confirm: "Delete booking for #{booking.room.name}?" }, id: "btn-bin" do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              </td>
              <td>
                <%= link_to chatrooms_path(booking.room), method: :post do %>
                  Chat
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <% if !@past_bookings.empty? %>
      <div class="my-room-bookings bookings-card">
        <h2>Past Tour</h2>

        <table class="table past-bookings-table">
          <thead>
            <tr>
              <th>Room</th>
              <th>Band</th>
              <th>Booking Start Date</th>
              <th>Booking End Date</th>
              <th>Confirmation Status</th>
            </tr>
          </thead>

          <tbody>
            <% @past_bookings.each do |booking| %>
              <tr>
                <td><%= link_to booking.room.name, booking.room, class: 'table-column-one' %></td>
                <td><%= link_to booking.band.name, booking.band, class: 'table-column-one' %></td>
                <td><%= booking.start_date.strftime('%d/%m/%Y') %></td>
                <td><%= booking.end_date.strftime('%d/%m/%Y') %></td>
                <td>
                  <% if booking.confirmation.nil? %>
                    <i class="far fa-question-circle confirmation-status-yellow"></i>
                  <% elsif booking.confirmation %>
                    <i class="far fa-check-circle confirmation-status-green"></i>
                  <% else %>
                    <i class="far fa-times-circle confirmation-status-red"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>

