<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 col-sm-8 col-lg-8 ">
      <div class="account-header">
        <h1>My Account</h1>
      </div>
      <h2>My Bookings</h2>
      <div class="bookings-table">
        <table class="table">
          <thead>
            <tr>
              <th>Room</th>
              <th>Booking Start Date</th>
              <th>Booking End Date</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @bookings.each do |booking| %>
              <tr>
                <td><%= link_to booking.room.name, booking.room, class: 'table-column-one' %></td>
                <td><%= booking.start_date %></td>
                <td><%= booking.end_date %></td>
                <td>
                  <%= link_to booking_path(booking), method: :delete, data: { confirm: "Delete booking for #{booking.room.name}?" } do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="my-rooms">
        <h2>Bookings made for my room</h2>

        <div class="bookings-table">
        <table class="table">
          <thead>
            <tr>
              <th>Band</th>
              <th>Booking Start Date</th>
              <th>Booking End Date</th>
              <th>Confirmed?</th>
            </tr>
          </thead>

          <tbody>
            <% @booking_requests.each do |request| %>
              <tr>
                <td><%= link_to request.band.name, request.band, class: 'table-column-one' %></td>
                <td><%= request.start_date %></td>
                <td><%= request.end_date %></td>
                <td>
                  
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
</div>
