<div class="row justify-content-center">
  <div class="col-8 col-sm-8 col-lg-8 ">
    <div class="my-bookings bookings-card">
      <h2>My Bookings</h2>

      <table class="table bookings-table">
        <thead>
          <tr>
            <th>Room</th>
            <th>Band</th>
            <th>Location</th>
            <th>Booking Start Date</th>
            <th>Booking End Date</th>
            <th>Confirmation Status</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @bookings.each do |booking| %>
            <tr>
              <td><%= link_to booking.room.name, booking.room, class: 'table-column-one' %></td>
              <td><%= link_to booking.band.name, booking.band %></td>
              <td><%= booking.room.city %></td>
              <td><%= booking.start_date.strftime('%d/%m/%Y') %></td>
              <td><%= booking.end_date.strftime('%d/%m/%Y') %></td>
              <td>
              <% if booking.confirmation.nil? %>
                <i class="far fa-question-circle confirmation-status-yellow"></i>
              <% elsif booking.confirmation %>
                <i class="far fa-check-circle confirmation-status-green"></i>
              <% else %>
                <i class="far fa-times-circle confirmation-status-red"></i>
              <% end %>
              </td>
              <td>
                <%= link_to booking_path(booking), method: :delete, data: { confirm: "Delete booking for #{booking.room.name}?" }, id: "btn-bin" do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              </td>
              <td>
                <%= link_to chatrooms_path(booking.room), method: :post do %>
                  Chat
                  <% end %>
             </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="my-room-bookings bookings-card">
      <h2>Bookings for my Pitstop</h2>

      <table class="table booking-requests-table">
        <thead>
          <tr>
            <th>Band</th>
            <th>Booking Start Date</th>
            <th>Booking End Date</th>
            <th>Confirmation Status</th>
            <th>Accept Booking?</th>
          </tr>
        </thead>

        <tbody>
          <% @booking_requests.each do |request| %>
            <tr>
              <td><%= link_to request.band.name, request.band, class: 'table-column-one' %></td>
              <td><%= request.start_date.strftime('%d/%m/%Y') %></td>
              <td><%= request.end_date.strftime('%d/%m/%Y') %></td>
              <td>
                <% if request.confirmation.nil? %>
                  <i class="far fa-question-circle confirmation-status-yellow"></i>
                <% elsif request.confirmation %>
                  <i class="far fa-check-circle confirmation-status-green"></i>
                <% else %>
                  <i class="far fa-times-circle confirmation-status-red"></i>
                <% end %>
              </td>
              <td class="requests-table-last-column">
                <%= link_to confirm_booking_path(request), method: :patch, class: "booking-btn-green-hover" do %>
                  <i class="fas fa-check-circle"></i>
                <% end %>
                <%= link_to reject_booking_path(request), method: :patch, class: "booking-btn-red-hover" do %>
                  <i class="fas fa-times-circle"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

