<div class="container">
	<%= render 'modal' %>
	<%= render partial: 'add_photos/modal' %>
	<%= render partial: 'band_socials/modal' %>
	<%= render partial: 'add_gig/modal' %>
	<%= render partial: 'band_members/modal' %>

	
<!-- BAND INFO LEFT SIDE OF SCREEN -->


	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12">
		<div class="show-user-info margin-32 ">
			<span class="card-header"><%= @band.name %></span>
			<div class="card-btns">
				<%= link_to band_path(@band), method: :delete, data: { confirm: "Are you sure?" }, id: 'btn-bin' do %>
				<i  id="btn-bin" class="far fa-trash-alt"></i>
			 <% end %>
				<button
				type="button"
				id="btn-plus"
				data-toggle="modal"
				data-target="#form_member"
			>
			<i class="fas fa-user-plus"></i>
			</button>
			<button
			type="button"
			id="btn-plus"
			data-toggle="modal"
			data-target="#editModal"
		>
		<i class="far fa-edit"></i>
		</button>
			</div>
			<div class="user-info-main-photo">
				<%= image_tag("pexels-friends-in-livingroom") %>
			</div>
		</div>
		<div class="band-description-container margin-32 ">
			<span class="card-header">About us</span>
			<hr>
			<div class="user-description-user">
				<p>Description<%= @band.description %></p>
			</div>
			<!-- <p>Location<%= @band.location %></p> -->
			<!-- Follow Section -->
			<span class="card-header">Follow</span>
			<hr>
			<div class="sm-icons">
				<button
				type="button"
				class="card-btns"
				id="btn-plus"
				data-toggle="modal"
				data-target="#form_socials">
					<i class="fas fa-plus-square"></i> 
				</button>
				<% if @socials %> 
					<% @socials.each do |item| %> 
					<div class="sm-icon">
						<%= link_to item.social_type, item.profile_url %>
						<%= link_to "x", band_social_path(item), method: :delete, data: {
							confirm: "Are you sure?" } %>
					</div>
					<%end %> 
				<% end %>
			</div>
		</div>

		</div>
<!-- Poster -->
		<div class="col-lg-6 col-md-6 col-sm-12">
		<div class="poster-band">
			<button
		type="button"
		class="card-btns"
		id="btn-plus"
		data-toggle="modal"
		data-target="#form_gigs"
	>
	<i class="fas fa-plus-square"></i> Gig
	</button>
			<h2>Gigs</h2>
		<% if @gigs %> 
			<% @gigs.each do |item| %> 
			<p><%= item.date %></p>
				<p><%= item.location  %></p>
				
				<%= link_to "Delete Gig", gig_path(item), method: :delete, data: {
					confirm: "Are you sure?" } %>
			<%end %> 
		<% end %>
		</div>
		</div>


	</div>
</div>

<!-- Phots Section -->
<div class="row col-12 show-photos-box container show-photo-container ">
	<button
	type="button"
	class="card-btns"
	id="btn-plus"
	data-toggle="modal"
	data-target="#addPhotosModal"
>
	<i class="fas fa-plus-square"></i>
	</button>
	<span class="card-header col-12">Photos</span>
	<div class="show-photos-display">
		<div class="show-photo-box">
	  	<%= image_tag("pexels-friends-in-livingroom") %>
		</div>
		<div class="show-photo-box">
	  	<%= image_tag("pexels-friends-in-livingroom") %>
		</div>
		<div class="show-photo-box">
	  	<%= image_tag("pexels-friends-in-livingroom") %>
		</div>
		<div class="show-photo-box">
	  	<%= image_tag("pexels-friends-in-livingroom") %>
		</div>
	</div>
</div>



<div class="row col-12 show-review">
	<div class="room-review-header">
<h2 class="page-main-text">Shoutouts</h2>
<button
type="button"
id="add-review-btn"
data-toggle="modal"
data-target="#rooms_review">
	<i class="fas fa-plus-square"></i> 
	Add Review
</button>
</div>



<% if @band_reviews %>
  <% @band_reviews.each do |item| %> 
  <div class="review-card">
		<strong class="review-author">
			<%= item.room.user.stage_name %>
		</strong>
		<% if item.room.user_id == current_user.id %>
			<%= link_to "x", band_review_path(item), method: :delete, data: {
				confirm: "Are you sure?" } %>
		<% end %>
	
    <span class="review-content"><%= item.content %></span>
	</div>
  <% end %>
<% end %>
</div>
