<h1>Bands#show</h1>
<%= render 'modal' %>
<%= render partial: 'add_photos/modal' %>
<%= render partial: 'band_socials/modal' %>

<br />
<div style="width: 300px border:1px solid black;"></div>
<p>Name<%= @band.name %></p>
<p>Location<%= @band.location %></p>
<p>Description<%= @band.description %></p>
<p>Number of members<%= @band.number_of_members %></p>

<% if @socials %> 
  <% @socials.each do |item| %> 
    <%= link_to item.social_type, item.profile_url %>
    <%= link_to "x", band_social_path(item), method: :delete, data: {
      confirm: "Are you sure?" } %>
  <%end %> 
<% end %>

<br />

<button
	type="button"
	class="btn btn-primary"
	data-toggle="modal"
	data-target="#addMembers"
>
	Add Members
</button>

<button
	type="button"
	class="btn btn-primary"
	data-toggle="modal"
	data-target="#addPhotosModal"
>
	Add Photos
</button>
<br />

<button
	type="button"
	class="btn btn-primary"
	data-toggle="modal"
	data-target="#editModal"
>
	Edit
</button>

<button
	type="button"
	class="btn btn-primary"
	data-toggle="modal"
	data-target="#form_socials"
>
	Add Socials
</button>

<br />
<%= link_to "Delete #{@band.name}", band_path(@band), method: :delete, data: {
confirm: "Are you sure?" } %>

<h2>Shoutouts</h2>

<button type="button" class="btn btn-primary">
  Add Shoutout
</button>
<%= render partial: 'band_reviews/form_band_reviews'%>
<% if @band_reviews %>
  <% @band_reviews.each do |item| %> 
    <%= item.room.user.stage_name %>
    <%= item.content %>
    <%= link_to "x", band_review_path(item), method: :delete, data: {
      confirm: "Are you sure?" } %>
  <% end %>
<% end %>
