<h1>Bands#show</h1>
<%= render 'modal' %>
<%= render partial: 'add_photos/modal' %>
<%= render partial: 'band_socials/modal' %>
<%= render partial: 'add_gig/modal' %>
<%= render partial: 'band_members/modal' %>

<br />
<h1>BAND:</h1>
<div style="width: 300px border:1px solid black;"></div>
<p>Name<%= @band.name %></p>
<p>Location<%= @band.location %></p>
<p>Description<%= @band.description %></p>
<p>Number of members<%= @band.number_of_members %></p>

<h1>Members</h1>

<% if @band_members.any? %>
		<% @band_members.each do |item| %>
		<p><%= item.user.stage_name %></p>
		<% end %>
<% end %>
 
    




<h2>Socials</h2>

<% if @socials %> 
  <% @socials.each do |item| %> 
    <%= link_to item.social_type, item.profile_url %>
    <%= link_to "x", band_social_path(item), method: :delete, data: {
      confirm: "Are you sure?" } %>
  <%end %> 
<% end %>


<h2>Gigs</h2>
<% if @gigs %> 
  <% @gigs.each do |item| %> 
	<p><%= item.date %></p>
    <p><%= item.location  %></p>
		
    <%= link_to "Delete Gig", gig_path(item), method: :delete, data: {
			confirm: "Are you sure?" } %>
  <%end %> 
<% end %>
<br />

<button
	type="button"
	class="btn btn-primary"
	data-toggle="modal"
	data-target="#form_member"
>
	Add Members
</button>

<button
	type="button"
	class="btn btn-primary"
	data-toggle="modal"
	data-target="#addPhotosModal"
>
	Add Photos
</button>
<br />

<button
	type="button"
	class="btn btn-primary"
	data-toggle="modal"
	data-target="#editModal"
>
	Edit
</button>

<button
	type="button"
	class="btn btn-primary"
	data-toggle="modal"
	data-target="#form_socials"
>
	Add Socials
</button>

<button
	type="button"
	class="btn btn-primary"
	data-toggle="modal"
	data-target="#form_gigs"
>
	Add Gig
</button>
<br />
<%= link_to "Delete #{@band.name}", band_path(@band), method: :delete, data: {
confirm: "Are you sure?" } %>


