<h1>Bands#show</h1>
<p>Find me in app/views/bands/show.html.erb</p>
<br>
<p>Name<%= @band.name %></p>
<p>Location<%= @band.location %></p>
<p>Description<%= @band.description %></p>
<p>Number of members<%= @band.number_of_members %></p>
<br>
<%= %>

<%= link_to 'Edit_path', edit_band_path %> <br>
<%= link_to 'New_path', new_band_path %> <br>
<%= link_to "Delete #{@band.name}",
            band_path(@band),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
