<div class="show-page-container">
	<%= render 'modal' %>
	<%= render partial: 'add_photos/modal' %>
	<%= render partial: 'band_socials/modal' %>
	<%= render partial: 'add_gig/modal' %>
	<%= render partial: 'band_members/modal' %>
	<%= render partial: 'show-settings/modal'%>
	<%= render partial: 'band_reviews/modal'%>

	
<!-- BAND INFO LEFT SIDE OF SCREEN -->


	<div class="show-page-row">
		<div class="show-page-card-div">
			<div class="show-band-info">
				<span class="band-header" ><%= @band.name %></span>
				<div class="setting-dropdown">
      	  <% if current_user.bands.ids.include?(@band.id) %>
					<div id="my-tooltip" class="tooltip">
						<button
						type="button"
						id="btn-plus"
						data-toggle="modal"
						data-target="#user_settings"
						>
						<i class="fas fa-user-cog"></i>
						</button>
						<span class="tooltiptext">Band Settings</span>
					</div>
					<% end %>
				</div>
				<div class="band-main-photo">
					<%= cl_image_tag @band.photos.first.key, class: 'band-cover-image', height: 240, width: 360, crop: :fill  %>
				</div>
				<span class="band-header">About us</span>
				<div class="user-description">
					<p><%= @band.description %></p>
				</div>
				<!-- Follow Section -->
				<span class="band-header">Follow</span>
				<div class="room-info-icons">
					<div class="social-media-icons">
						<% if @socials %> 
							<% @socials.each do |item| %>
								<% if item.social_type == "Instagram" %>
									<%= link_to item.profile_url do %>
										<i class="band-social-icon fab fa-instagram"></i>
									<% end %>
								<% elsif item.social_type == "Twitter" %>
									<%= link_to item.profile_url do %>
										<i class="band-social-icon fab fa-twitter"></i>
									<% end %>
								<% elsif item.social_type == "Facebook" %>
									<%= link_to item.profile_url do %>
										<i class="band-social-icon fab fa-facebook-square"></i>
									<% end %>
								<% elsif item.social_type == "Soundcloud" %>
									<%= link_to item.profile_url do %>
										<i class="band-social-icon fab fa-soundcloud"></i>
									<% end %>
								<% elsif item.social_type == "Bandcamp" %>
									<%= link_to item.profile_url do %>
										<i class="band-social-icon fab fa-bandcamp"></i>
									<% end %>
								<% end %>
							<% end %> 
						<% end %>
					</div>
				</div>
			</div>
	</div>
<!-- Poster -->
		<div class="show-page-poster-div">
		<div class="poster-box room-poster">
			<div class="poster-gig poster-top">
				<span class="poster-title">GIGS</span>
				<% if @gigs %> 
					<% @gigs.each do |item| %> 
					<span class="poster-date"><%= item.date.strftime('%d/%m/%Y') %></span>
					<span class="poster-location"><%= item.location  %></span>
					<%end %> 
				<% end %>
				</div>
		</div>
		</div>
	</div>




<!-- Phots Section -->
<div class="show-photo-container">
	<div class="show-page-photos">
		<span class="band-header">Photos</span>
		<div class="show-photos-display">
			<% @band.photos.each do |photo| %>
					<div class="show-photo-box">
						<%= cl_image_tag photo.key, height: 260, width: 260, crop: :fill %>
					</div>
				<% end %>
		</div>
	</div>
</div>


<div class="show-review">
	<div class="show-review-header">
<h2 class="page-main-text">Shoutouts</h2>
<button
type="button"
id="add-review-btn"
data-toggle="modal"
data-target="#rooms_review">
	<i class="fas fa-plus-square"></i> 
	Add Review
</button>
</div>

<% if @band_reviews %>
  <% @band_reviews.each do |item| %> 

	<div class="review-card">
		<div class="review-avatar-box">
			<% if item.room.user.photo.attached? %>
				<%= cl_image_tag item.room.user.photo.key, height: 80, width: 80, crop: :fill %>
			<% else %>
				<%= image_tag "default-avatar.png" %>
			<% end %>
		</div>
		<div class="review-text">
				<span class="review-author">
				  <% if item.room.user.stage_name.nil? %>
				   <%= item.room.user.first_name %>
			    <% else %>
				   <%= item.room.user.stage_name %>
			    <% end %>  
				</span>
				<div class="review-content">
					<span class="review-text-content"><%= item.content %></span>
				</div>
		</div>
			<% if item.room.user_id == current_user.id %>
				<%= link_to "x", band_review_path(item), method: :delete, data: {
					confirm: "Are you sure?" } %>
			<% end %>
	</div>
	<% end %>	
	<% end %>
	</div>
	</div>
</div>
