<div class="fg-container">

  <%= simple_form_for(@room) do |f| %>
    <div class="fg-form">
      <%= f.input :name, placeholder:'Room Name', required: true %>
      <%= f.input :city, placeholder:'London', required: true %>
      <%= f.input :postcode, placeholder:'PT5 0TP', required: true %>
      <%= f.input :country, collection: ISO3166::Country.all, format: :with_full_country_name, required: true %>
      <%= f.input :description , placeholder:'Description', required: true %>
      <%= f.input :capacity, placeholder:'1', required: true, input_html: { min: '1', step: 'any' } %>
      <%= f.input :parking, collection: Room::PARKING_TYPES,
                  selected: "street parking", required: true %>
      <%= f.input :bio, placeholder:'Host Bio', required: true %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.button :submit, class: "cta-btn" %>
    </div>
  <% end %>

</div>
