
<div class="index-content-container">
  <div class="flexbox-right">
    <% @rooms.each do |room| %>
    <%= link_to room_path(room), class: 'index-card' do %>
        <div class="card-main-photo">
          <%= cl_image_tag room.photos.first.key, class: "card-image" %>
        </div>
        <div class="index-card-info">   
            <span id="card-title"><%= room.name %></span>
            <span id="index-card-description"><%= room.description.truncate(50) %></span>
            <span id="text-muted">Last updated <%= time_ago_in_words(room.updated_at) %> ago</span>
            <%= cl_image_tag room.user.photo.key, class: "card-image" %>
        </div>
        <% end %>
    <% end %>
  </div>

  <div class="flexbox-left">
    <div id="map"
       style="width: 60%; height: 90vh;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>

