<div class="index-container">
  <div class="index-content-container">
  <div class="flexbox">
    <br>
    <% @rooms.each do |room| %>
      <div class="index-card">
        <div class="index-card-body">
          <%= image_tag "emma-copy.jpg", class: "card-avatar" %>
          <h5 id="card-title"><%= room.name %></h5>
          <p id="card-title"><%= room.description.truncate(50) %></p>
          <p class="card-link"><p><%= link_to "See details", room_path(room) %></p>
          <p id="card-title"><small class="text-muted">Last updated <%= time_ago_in_words(room.updated_at) %> ago</small></p>
        </div>
          <%= cl_image_tag room.photos.first.key, class: "card-image" %>
        </div>
    <% end %>
  </div>


<div id="map"
     style="width: 60%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
 </div>
</div>
</div>
