
<div class="container">
  <%= render 'modal' %>
  <%= render partial: 'room_socials/modal' %>
  <%= render partial: 'rooms_reviews/modal'%>
  <%= render partial: 'bookings/modal' %>
  <%= render partial: 'room_settings/modal' %>

  <div class="band-info">

    <div class="band-description-container">
      <div class="setting-dropdown">
				<div id="my-tooltip" class="tooltip">
					<button
					type="button"
					id="btn-plus"
					data-toggle="modal"
					data-target="#room_settings"
					>
					<i class="fas fa-user-cog"></i>
					</button>
					<span class="tooltiptext">Room Settings</span>
				</div>
    <div class="room-card">

      <h2 class="card-header"><%= @room.name.upcase %></h2>
      <p class="room-"><%= @room.city %></p>
      
      <div  class="description-text">
        <h2 class="card-header">My Bio</h2>
      <p class="room-decription"><%= @room.bio %></p>
      <h2 class="card-header">About Room</h2>
      <p class="room-decription">Description: <%= @room.description %></p>
      <div class="room-info-icons">
        <p><i class="room-icons fas fa-car"></i>  <%= @room.parking %></p>
        <p><i class="room-icons fas fa-user-friends"></i> <%= @room.capacity%></p>
      </div>
    </div>
    </div>
    <div class="room-sm-icons">
      <h2 class="card-header">Social Media Profiles</h2>
      <div class="sm-icons">
        <i class="room-icons fab fa-twitter"></i>
        <i class="room-icons fab fa-instagram"></i>
      </div>
    </div>

    <% if @room_socials %>
      <% @room_socials.each do |item| %> 
        <%= link_to item.social_type, item.profile_url %>
        <%= link_to "x", room_social_path(item), method: :delete, data: {
          confirm: "Are you sure?" } %>
      <% end %>
    <% end %>
    </div>
    <button
    type="button"
    id="booking-btn"
    data-toggle="modal"
    data-target="#booking_room"
  >Request Booking</button>
  </div>

  <!-- poster -->
  <div class="poster-container">
    <div class="poster-band">
    </div>
    </div>
  

    <div class="photos-container"> 
      <span class="card-header">Photos</span>
      <div class="photos-box">
      <%= image_tag("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/small-living-rooms-bungalow-etna-nook-029-1608661123.jpg") %>
      <%= image_tag("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/small-living-rooms-bungalow-etna-nook-029-1608661123.jpg") %>
      <%= image_tag("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/small-living-rooms-bungalow-etna-nook-029-1608661123.jpg") %>
      <%= image_tag("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/small-living-rooms-bungalow-etna-nook-029-1608661123.jpg") %>
    
      </div>
    </div>

<div class="room-review">
  <div class="room-review-header">
    <h2 class="card-header">Shoutouts</h2>
    <button
    type="button"
    id="add-review-btn"
    data-toggle="modal"
    data-target="#rooms_review">
      <i class="fas fa-plus-square"></i> 
      Add Review
    </button>
  </div>
  
  
  <% if @room_reviews %>
    <% @room_reviews.each do |item| %> 
      <div class="review-card">
        
        <strong class="review-author"><%= item.band.name %></strong>
            <% if item.band.band_members.select { |element| element.user == current_user }[0] %>
                <span class="review-content"><%= item.content %></span>
                    <%= link_to "x", room_review_path(item), method: :delete, data: {
                    confirm: "Are you sure?" } %>
            <% end %>
      </div>
    <% end %>
  <% end %>
</div>
</div>
