<div class="container">
  <%= render 'modal' %>
  <%= render partial: 'room_socials/modal' %>

  <%= link_to rooms_path do %>
    <i class="fas fa-undo-alt"></i> Back to all rooms
  <% end %>

  <h2><%= @room.name.upcase %></h2>
    <p>Bio: <%= @room.bio %></p>

  <div>
    <p>City: <%= @room.city %></p>
    <p>Capacity: <%= @room.capacity%></p>
    <p>Description: <%= @room.description %></p>
    <p>Parking: <%= @room.parking %></p>
  </div>

  <br>
  <h2>Social Media Profiles</h2>

  <% if @room_socials %>
    <% @room_socials.each do |item| %> 
      <%= link_to item.social_type, item.profile_url %>
      <%= link_to "x", room_social_path(item), method: :delete, data: {
        confirm: "Are you sure?" } %>
    <% end %>
  <% end %>

  <br />

  <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#editModal"
  >
    Edit
  </button>

  <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#form_socials"
  >
    Add Socials
  </button>

  <br />
  <%= link_to "Delete #{@room.name}", room_path(@room), method: :delete, data: {
  confirm: "Are you sure?" } %>
</div>
