
<div class="show-page-container">
  <%= render 'modal' %>
  <%= render partial: 'room_socials/modal' %>
  <%= render partial: 'rooms_reviews/modal'%>
  <%= render partial: 'bookings/modal' %>
  <%= render partial: 'room_settings/modal' %>
  <%= render partial: 'add_photos_room/modal' %>


  <div class="show-page-row">
    <div  class="show-page-card-div">
    <div class="show-user-card">
      <div class="card-user-header">
        <% if @room.user.photo.attached? %>
        <%= cl_image_tag @room.user.photo.key, class: "avatar-show", height: 120, width: 120, crop: :fill  %>
      <% else %>
        <%= image_tag "default-avatar.png", class: "avatar-show" %>
    <% end %>
        <h2 class="card-stagename"><%= @room.user.stage_name.upcase %></h2>
      </div>
      <div class="setting-dropdown">
      <% if @room.user_id == current_user.id %>
        <div id="my-tooltip" class="tooltip">
          <button
          type="button"
          id="btn-plus"
          data-toggle="modal"
          data-target="#room_settings"
          >
          <i class="fas fa-user-cog"></i>
          </button>
          <span class="tooltiptext">Room Settings</span>
        </div>
        <% end %>
      </div>
      <div  class="description-text">
        <h2 class="card-header">My Bio</h2>
      <span class="room-decryption"><%= @room.bio %></span>
   
      <h2 class="card-header"><%= @room.name.upcase %></h2>
      <span class="room-decryption"><%= @room.description %></span>
      <div class="room-info-icons">
        <i class="fas fa-car"></i>  <%= @room.parking %>
        <i class="fas fa-user-friends"></i> <%= @room.capacity%>
      </div>
    </div>
       <div class="room-name-btn">
        <button
        type="button"
        id="booking-btn"
        class="book-btn "
        data-toggle="modal"
        data-target="#booking_room"
        >Request Booking</button>
      </div>
      <div class="sm-icons">
        <div class="social-media-icons">
          <% if @room_socials %>
            <% @room_socials.each do |item| %>
              <div class="room-social-icon">
                <% if item.social_type == "Instagram" %>
                  <%= link_to item.profile_url do %>
                    <i class="fab fa-instagram"></i>
                  <% end %>
                <% elsif item.social_type == "Twitter" %>
                  <%= link_to item.profile_url do %>
                    <i class="fab fa-twitter"></i>
                  <% end %>
                <% elsif item.social_type == "Facebook" %>
                  <%= link_to item.profile_url do %>
                    <i class="fab fa-facebook-square"></i>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
   
    </div>
  </div>

    </div>
 
    <!-- poster -->
    <div class="show-page-poster-div">
      <div class="poster-box room-poster">
        <div class="poster-gig poster-top">
          <% if @room.user.stage_name %>
            <p><%= @room.user.stage_name %>Fest!</p>
          <% else %>
            <p><%= @room.user.first_name %>Fest!</p>
          <% end %>
        </div>
        <div class="poster-bands">
          <% @poster_bookings.last(8).each do |booking| %>
            <div class="poster-band">
              <%= link_to booking.band.name, band_path(booking.band) %>
            </div>
          <% end %>
        </div>
        <p id="supported-by">Supported by:</p>
        <div class="poster-bottom">
          <p><%= @room.parking %></p><p>sleeps <%= @room.capacity %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="show-photo-container">
    <div class="show-page-photos">
      <div class="show-photos-display">
        <% @room.photos.each do |photo| %>
          <div class="show-photo-box">
            <%= cl_image_tag photo.key, height: 260, width: 260, crop: :fill %>
          </div>
        <% end %>
      </div>
    </div>
  </div>


  <div class="row col-12 show-review">
    <div class="show-review-header">
      <h2 class="page-main-text">Shoutouts</h2>
      <button
  type="button"
  id="add-review-btn"
  data-toggle="modal"
  data-target="#rooms_review">
    <i class="fas fa-plus-square"></i> 
    Add Review
      </button>
    </div> 
    
    <% if @room_reviews %>
    <% @room_reviews.each do |item| %> 

      <div class="review-card">
        <div class="review-avatar-box"> 
            <% if item.band.photos.attached? %>
            <%= cl_image_tag item.band.photos.first.key, height: 80, width: 80, crop: :fill %>
          <% else %>
            <%= image_tag "default-avatar.png" %>
          <% end %>
          </div>
          <div class="review-text">
            <span class="review-author"><%= item.band.name %></span>
            <div class="review-content">
              <span class="review-text-content"><%= item.content %></span>
            </div>
        </div> 
            <% if item.band.band_members.select { |element| element.user == current_user }[0] %>
            <%= link_to "x", room_review_path(item), method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

